#pronoun {
  font-size: 18px;
  color: gray;
  text-align: center;
  font-weight: 50;
  padding-top: 2rem;
}

#code-name {
  text-align: center;
  font-weight: normal;
  padding-top: 0.2rem;
}

#line-sep {
  width: 50%;
  margin: 3rem auto auto;
}

.row-about {
  margin-top: 3rem !important;
}

.topic-about {
  font-size: 24px;
  font-family: "Helvetica Neue";
}

.text-box {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.org-name {
  font-size: 18px;
  font-family: "Helvetica Neue";
  font-weight: 530;
  color: #343A40;
}

.org-desc {
  font-size: 16px;
  color: #343A40;
  font-family: "Helvetica Neue";
  margin-bottom: 0;
  padding-bottom: 0.5rem;
}

.year {
  font-size: 14px;
  font-family: "Helvetica Neue";
  color: dimgrey;
  font-weight: bold;
}

.con-box {
  border-left: 3px solid #6c757d;
  margin-bottom: 1rem;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}

.con-box:before {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid #6c757d;
  background-color: white;
  position: absolute;
  left: 30px;
}

.tag {
  padding: 0.5rem;
  background-color: #D3E3E9;
  margin-top: 0;
  font-size: 12px;
  font-family: "Helvetica Neue";
  border-radius: 7%;
  margin-right: 1rem;
}


#span-tag-1 {
  margin-bottom: 1rem;
}