.contact-header {
  font-size: 30px;
  font-weight: 350;
  color: #535a5e;
  font-family: Helvetica Neue;
}

.btn-send {
  margin-left: 0rem !important;
}

.a-email {
  color: #6c757d;
  text-decoration: none;
}