.nav-link {
    font-size: 1.5rem !important;
    font-family: "Helvetica Neue";
}

.navbar-brand {
    font-size: 35px !important;
    font-family: "Helvetica Neue";
    font-weight: 350;
    color: #535A5E !important;
}