.skill-div {
  padding-top: 2rem;
  text-align: center;
}

.skill-header {
  font-size: 30px;
  font-weight: 350;
  font-family: Helvetica Neue;
}

.line-skill {
  width: 50%;
  margin: 2rem auto;
}

.box-skill {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  padding-bottom: 3rem;
}

.github-boxl {
  border-radius: 9px;
  border: 1px solid darkgrey;
  margin-top: 2rem !important;
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important;
}

.github-boxr {
  border-radius: 9px;
  border: 1px solid darkgrey;
  margin-top: 2rem !important;
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important;
}

.skill-icon {
  width: 50px;
  height: 40px;
  color: #ffc107;
}

.title-2 {
  font-size: 20px;
  font-family: Helvetica Neue;
}

.title-3 {
  font-size: 16px;
  font-family: Helvetica Neue;
}

.line-box-skill {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}

.row-repo {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.repo {
  padding: 1rem !important;
  margin-bottom: 0;
  font-size: 20px;
  font-family: Helvetica Neue;
}

.font-github {
  font-size: 5rem !important;
}

.github-cont {
  text-align: center !important;
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.ic-cont {
  text-align: center !important;
}

.ic {
  font-size: 20px !important;
}